.radio-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  & .radio-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0.5rem 0.5rem;
    position: relative;
    outline: 1px solid var(--stroke-default);
    border: 2px solid transparent;
    border-radius: 0.5rem;
    & input,
    & input:focus,
    & input:hover {
      all: unset;
      opacity: 0;
      position: absolute;
      inset: 0;
    }

    & img {
      width: 3rem;
    }
    &:has(input[type="radio"]:checked) {
      outline: 0.25rem solid transparent;
      border: 0.125rem solid var(--stroke-highlight);

      & .radio-image {
        background: url(../../assets/icons/radio-button-checked.svg)
          center/contain;
      }
    }

    &:has(input[type="radio"]:hover):not(:has(input[type="radio"]:checked)) {
      outline: 1px solid var(--stroke-highlight);
      border: 2px solid transparent;
      & .radio-image {
        background: url(../../assets/icons/radio-button-hover.svg)
          center/contain;
      }
    }
    & .radio-image {
      position: absolute;
      background: url(../../assets/icons/radio-button.svg) center/contain;

      width: 1.5rem;
      height: 1.5rem;
      top: 0.5rem;
      left: 0.5rem;
    }
  }
}
