@import url(fields/index.css);

fieldset{
    border: none;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 3rem;
}

label{
    font: .875rem/1.4 var(--ff-poppins);
}

legend{
    font: var(--h4);
    color: var(--text-primary);
    margin-bottom: 1.25rem;
}