main {
  & .main-container{
    margin-block: 1.5rem;
    & header {
        margin-bottom: 3rem;
      & .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding-bottom: 1.5rem;
        & img {
          width: 1.5rem;
        }
      }
      & h2{
        padding-bottom: .5rem;
      }
    }
  }
}
@media (width >= 80em){
  main {
    grid-area: a;
    margin-left: auto;
    overflow: auto;
    & .main-container {
      max-width: 43rem;
      margin-block: 4rem;
    }
  }
}