main {
  & .container {
    & header {
        margin-block: 1.5rem 3rem;
      & .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding-bottom: 1.5rem;
        & img {
          width: 1.5rem;
        }
      }
      & h2{
        padding-bottom: .5rem;
      }
    }
  }
}
